/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* Generar Styles */

.Button {
	-fx-background-image:url("fishMotiv.jpg");
	-fx-background-size: 100.0% 100.0%;
	-fx-background-position: center center;
	-fx-text-fill: white;
	-fx-font-size: 18.0px;
	-fx-border-style: solid;
	-fx-border-width: 3px;
  	-fx-border-color: white;
  	-fx-border-radius: 3px;
}

.ComboBox { 
	-fx-background-color: LightSkyBlue;
	-fx-border-style: solid;
	-fx-border-width: 3px;
  	-fx-border-color: white;
}

.GridPane {
	-fx-background-color: LightSkyBlue;
	-fx-opacity: 0.9;
}


/* stylling welcomeView */
.AnchorPane {
    -fx-background-image:url("aq.jpg");
	-fx-background-size: 100.0% 100.0%;
	-fx-background-position: center center;
	-fx-opacity: 0.97;
	
} 

.Titel {
	-fx-text-fill: white;
	-fx-font-family: Verdana;
	-fx-font-style: italic;
	-fx-font-size: 38.0px;
	
}

/* styling fischpoolView */
.FishPoolAP {
	-fx-background-image:url("fc.jpg");
	-fx-background-size: 100.0% 100.0%;
	-fx-background-position: center center;
}

/* styling CreateNewAQ */
.CreateNewAQAP {
	-fx-background-image:url("garni.jpg");
	-fx-background-size: 100.0% 100.0%;
	-fx-background-position: center center;
}

.Text {
	-fx-text-fill: white;
	-fx-font-size: 18.0px;
}


/* styling AQDateSheet */
.AQDateSheetAP{
	-fx-background-image:url("kuckuckjpg.jpg");
	-fx-background-size: 100.0% 100.0%;
	-fx-background-position: center center;
	
}

.ButtonAQD{
	-fx-background-image:url("fishMotiv.jpg");
	-fx-background-size: 100.0% 100.0%;
	-fx-background-position: center center;
	-fx-text-fill: white;
	-fx-font-size: 14.0px;
	-fx-border-style: solid;
	-fx-border-width: 3px;
  	-fx-border-color: white;
  	-fx-border-radius: 3px;
}

.TextAQDateSheet{
	-fx-text-fill: white;
	-fx-font-size: 14.0px;
}

/* styling AddNewFishToAQ */
.AddNewFishToAQAP{
	-fx-background-image:url("sg.jpg");
	-fx-background-size: 100.0% 100.0%;
	-fx-background-position: center center;
	
}
.AddNewFishToAQField{
	-fx-text-fill: white;
	-fx-font-size: 16.0px;
}

/* styling CastView */
.CastViewAP {
	-fx-background-image:url("sg.jpg");
	-fx-background-size: 100.0% 100.0%;
	-fx-background-position: center center;
}

.CastButton{
	-fx-background-image:url("fishMotiv.jpg");
	-fx-background-size: 100.0% 100.0%;
	-fx-background-position: center center;
	-fx-text-fill: white;
	-fx-font-size: 14.0px;
	-fx-border-style: solid;
	-fx-border-width: 3px;
  	-fx-border-color: white;
  	-fx-border-radius: 3px;
}

.CastField{
	-fx-text-fill: white;
	-fx-font-size: 16.0px;
}



/* styling AddNewFishToList */
.AddNewFishToListAP {
	-fx-background-image:url("nyomi.jpg");
	-fx-background-size: 100.0% 100.0%;
	-fx-background-position: left top;
}

.AddNewFishToListButton {
	-fx-background-image:url("fishMotiv.jpg");
	-fx-background-size: 100.0% 100.0%;
	-fx-background-position: center center;
	-fx-text-fill: white;
	-fx-font-size: 14.0px;
	-fx-border-style: solid;
	-fx-border-width: 3px;
  	-fx-border-color: white;
  	-fx-border-radius: 3px;
}

.AddNewFishToListField {
	-fx-text-fill: black;
	-fx-font-size: 13.0px;
}










